.site-home{
    overflow: hidden;
    padding: 0 10px;
}

header, footer{
    height: 10vh;
}
main{
    height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

span{
    font-size: 18px;
    text-align: center;
}