<div class="section-optionProfile">
  <ul>
    <li>
      <a>Detalles del Perfil</a>
    </li>
    <li>
      <a>Editar Perfil</a>
    </li>
    <li>
      <a>Cambiar Contraseña</a>
    </li>
    <li>
      <a>Configuraciones</a>
    </li>
    <li>
      <a>Notificaciones</a>
    </li>
    <li>
      <a>Privacidad</a>
    </li>
    <li>
      <a>Suscripciones</a>
    </li>
    <li>
      <a>Seguridad</a>
    </li>
    <li>
      <a>Actividad Reciente</a>
    </li>
    <li>
      <a>Eliminar Cuenta</a>
    </li>
  </ul>
</div>
